{% load static %}
<link href="{% static 'school/css/style.css' %}" rel="stylesheet">
<link href="{% static 'school/css/responsive.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'school/images/favicon.ico' %}" type="image/x-icon">

<footer class="main-footer sec-pad">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
                    <div class="logo-wideget footer-wideget">
                        <div class="footer-logo"><a href="index-2.html"><figure><img src="{% static 'school/images/footer/logo.png' %}" alt=""></figure></a></div>
                        <div class="text">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin  Richard Latin professor at Hampden.</p>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 footer-column">
                    <div class="link-wideget footer-wideget">
                        <div class="footer-title"><h4>Quick Links</h4></div>
                        <ul class="list">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li><a href="{% url "gallery" %}">Gallery</a></li>
                            <li><a href="{% url "event" %}">Events</a></li>
                            <li><a href="{% url "admission_notice" %}">Admission</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer-column">
                    <div class="gallery-wideget footer-wideget">
                        <div class="footer-title"><h4>Our Gallery</h4></div>
                        <ul class="img-list">
                            <li><a href="gallery.html"><figure><img src="{% static 'school/images/footer/1.jpg' %}" alt=""></figure></a></li>
                            <li><a href="gallery.html"><figure><img src="{% static 'school/images/footer/2.jpg' %}" alt=""></figure></a></li>
                            <li><a href="gallery.html"><figure><img src="{% static 'school/images/footer/3.jpg' %}" alt=""></figure></a></li>
                            <li><a href="gallery.html"><figure><img src="{% static 'school/images/footer/4.jpg' %}" alt=""></figure></a></li>
                            <li><a href="gallery.html"><figure><img src="{% static 'school/images/footer/5.jpg' %}" alt=""></figure></a></li>
                            <li><a href="gallery.html"><figure><img src="{% static 'school/images/footer/6.jpg' %}" alt=""></figure></a></li>
                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-3 col-sm-6 col-xs-12 footer-column">
                    <div class="tag-wideget footer-wideget">
                        <div class="footer-title"><h4>Popular Tags</h4></div>
                        <ul class="tag-list">
                            <li><a href="#">Charity</a></li>
                            <li><a href="#">ECA</a></li>
                            <li><a href="#">Donation</a></li>
                            <li><a href="#">Hostel</a></li>
                            <li><a href="#">Couses</a></li>
                            <li><a href="#">Canteen</a></li>
                            <li><a href="#">Computer labs</a></li>
                            <li><a href="#">Principal</a></li>
                            <li><a href="#">Holidays</a></li>
                        
                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="footer-bottom centred">
        <div class="container">
            <div class="copyright"><p>Copyright © <a href="#">ABC</a> 2018. All Rights Reserved</p></div>
        </div>
    </div>
</footer>