{% load static %}
<script type="text/javascript" src="{% static 'school/js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'school/js/bootstrap.min.js' %}"></script>
<script src="{% static 'school/js/slider-active.js' %}" type="text/javascript"></script>
<script src="{% static 'school/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'school/js/wow.js' %}"></script>
<script src="{% static 'school/js/isotope.js' %}"></script>
<script src="{% static 'school/js/validation.js' %}"></script>
<script src="{% static 'school/js/jquery-ui.js' %}"></script>
<script src="{% static 'school/js/masterslider.js' %}"></script>
<script src="{% static 'school/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'school/js/html5lightbox/html5lightbox.js' %}"></script>  
<script type="text/javascript" src="{% static 'school/js/SmoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'school/js/jQuery.style.switcher.min.js' %}"></script>

<script src="{% static 'school/revolution/js/jquery.themepunch.tools.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.actions.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.carousel.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.kenburn.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.migration.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.navigation.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.parallax.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.slideanims.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'school/revolution/js/extensions/revolution.extension.video.min.js' %}" type="text/javascript">
</script>

<script src="{% static 'school/js/script.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
<script src="{% static 'school/js/gmaps.js' %}"></script>
<script src="{% static 'school/js/map-helper.js' %}"></script>
