{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="{% static 'js/script.js' %}"></script>

    <title>Dashboard</title>
</head>
<body>
    {% include "utils/top-nav.html" %}

    <div id="main">
        {% include "utils/side-nav.html" %}

        <div id="main2">
            <div class="row">
                <div class="card">
                    <i class="fa-solid card-icon fa-chalkboard-user"></i>
                    <h4>CLASS</h4>
                    <h4>JSS1 -- 1st Term</h4>
                </div>

                <div class="card">
                    <i class="fa-solid card-icon  fa-book-open"></i>
                    <h4>SUBJECTS</h4>
                    <h4>8</h4>
                </div>

                <div class="card">
                    <i class="fa-solid card-icon  fa-square-poll-vertical"></i>
                    <h4>RESULTS</h4>
                    <h4>5</h4>
                </div>
            </div>

            <div class="row">
                <div class="notif-con">
                    <div class="con-header">Recent Activities</div>
                    <img src="{% static 'images/empty.svg' %}"/>
                </div>

                <div class="notif-con">
                    <div class="con-header">Announcements</div>
                    <img src="{% static 'images/empty.svg' %}"/>
                </div>
            </div>
        
        
        
        </div>
    </div>


    
</body>
</html>