{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <title>Dashboard</title>
</head>
<body>
    {% include "./utils/side-nav.html" %}

    <div id="main">
        {% include "./utils/header.html" %}

        <div id="main2">
            <div class="content" id="student">
                <div id="img-con">
                    <img src="https://images.squarespace-cdn.com/content/v1/5c95bd2c7eb88c7bd8920ffa/1557423794806-IRJI5ZXXNM9FX5CFXGII/Man_Smiling.jpg"/>
                </div>

                <div id="INFO">
                    <div class="table-con">
                        <h2>Bio Data</h2>

                        <hr style="width: 100%;"/>
                        <div class="row">
                            <div class="row-info-con">
                                <label>First Name</label>
                                <div class="info-box">Nigga</div>                    
                            </div>
            
                            <div class="row-info-con">
                                <label>First Name</label>
                                <div class="info-box">JNK Nigga</div>                    
                            </div>
                        </div>
        
                        <div class="info-con">
                            <label>First Name</label>
                            <div class="info-box">Boss OOIINJK JNK Nigga</div>                    
                        </div>
        
                        <div class="info-con">
                            <label>First Name</label>
                            <div class="info-box">Boss OOIINJK JNK Nigga</div>                    
                        </div>
    
                    </div>

                </div>









            </div>
        </div>
    </div>
</body>
</html>