{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="#">
<meta name="description" content="#">
<title>Sample School Template</title>

<!-- Stylesheets -->
{% include "./temp_utils/style_imports.html" %}

</head>

<!-- page wrapper -->
<body class="body_wrapper">

    <!-- main header area -->
    {% include "./temp_utils/top_nav.html" %}
    <!-- end main header area -->

    <!-- page title -->
    <section class="page-title">
        <div class="container">
            <div class="content-box">
                <div class="title">Contact Us</div>
                <div class="bread-crumb">
                    <a href="{% url "home" %}">Home &nbsp;<i class="fa fa-angle-right"></i></a> &nbsp;<span>Contact Us</span> 
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- contact section -->
    <section class="contact-section contact-page sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 contact-column">
                    <div class="contact-form-area">
                        <!-- <div id="messages" class="hide" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="messages_content"></div>
            </div>-->
                        <div class="contact-title">Get in Touch</div>
    <form id="form" name="contact_form" class="default-form"  method="post" action="contact.php">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" name="name" value="" placeholder="Name" required="">
                                </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="email" name="email" value="" placeholder="Email" required="">
                                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
<input type="number" name="phone" value="" placeholder="Phone" required="">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
<input type="text" name="subject" value="" placeholder='Subject' required="">
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
    <textarea placeholder="Message" name="message" required=""></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn-one style-one radi" data-loading-text="Please wait..." name="contact">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 contact-column">
                    <div class="contact-info">
                        <div class="single-info">
                            <div class="icon-box"><i class="flaticon-signs"></i></div>
                            <div class="title">Address Info</div>
                            <div class="text"><p>PO Box 16122 xyz</p></div>
                        </div>
         

               <div class="single-info">
                            <div class="icon-box"><i class="flaticon-phone-call"></i></div>
                            <div class="title">Phone</div>
                            <div class="text"><p>(+48) 564-334-21-22-34 <br />(+48) 564-334-21-25</p></div>
                        </div>
                        <div class="single-info">
                            <div class="icon-box"><i class="flaticon-note"></i></div>
                            <div class="title">Email</div>
                            <div class="text"><a href="#">info@abcsecondaryschool.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section end -->


    <!-- google map area -->
    <section class="map-section">
        <div class="google-map-area">
            <div 
                class="google-map" 
                id="contact-google-map" 
                data-map-lat="27.756776" 
                data-map-lng="85.349201" 
                data-icon-path="images/resources/map-marker.png" 
                data-map-title="Hattigauda, Kathmandu, Nepal" 
                data-map-zoom="12" 
                data-markers='{
                    "marker-1": [27.756776, 85.349201, "<h4>Branch Office</h4><p>Hattigauda,Kathmandu</p>","../static/images/resources/map-marker.png"]
                }'>

            </div>
        </div>
    </section>
    <!-- google map area end -->


    <!-- newsletter section -->
    {% include "./temp_utils/newsletter.html" %}
    <!-- newsletter section end -->

    
    <!-- main-footer area -->
    {% include "./temp_utils/footer.html" %}
    <!-- main footer end -->



<!--End pagewrapper-->

   

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>


<!--jquery js -->
{% include "./temp_utils/js_imports.html" %}

<!--Alert box after successful form submission-->
<!--<script>
            $('#form').submit(function(e) {
                $('#messages').removeClass('hide').addClass('alert alert-success alert-dismissible').slideDown().show();
                $('#messages_content').html('<h5>Thanks for filling out the form</h5>');
                $('#modal').modal('show');
                e.preventDefault();
            });
        </script>-->

        <!-- Clearing form fields after submission -->
        <!--<script >
            
            function clearField() {
   document.forms["contact_form"].reset();
}

        </script>-->

<!-- End of .page_wrapper -->
</body>


</html>
