{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Sample School Template</title>

    <!-- Stylesheets -->
    {% include "./temp_utils/style_imports.html" %}
</head>

<!-- page wrapper -->
<body class="body_wrapper">

    <!-- main header area -->
    {% include "./temp_utils/top_nav.html" %}
    <!-- end main header area -->



    <!-- page title -->
    <section class="page-title">
        <div class="container">
            <div class="content-box">
                <div class="title">Our Event</div>
                <div class="bread-crumb">
                    <a href="{% url "home" %}">Home &nbsp;<i class="fa fa-angle-right"></i></a> &nbsp;<span>Our Event</span> 
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- event-section / our-event -->
    <section class="event-section our-event">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 event-column">
                    <div class="single-item">
                        <div class="img-box">
                            <a href="event-details.html"><figure><img src="{% static 'images/event/1.jpg' %}" alt=""></figure></a>
                            <div class="date"><h3>25</h3><p>July</p></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="event-details.html">Mauris Fommodo Aucib.</a></h3>
                            <ul class="meta">
                                <li><i class="fa fa-clock-o"></i>9am - 3pm</li>
                                <li><i class="fa fa-map-marker"></i>60 Newyork City.</li>
                            </ul>
                            <div class="text"><p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt  labore dolore magna aliqua.</p></div>
                            <div class="button"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-column">
                    <div class="single-item">
                        <div class="img-box">
                            <a href="event-details.html"><figure><img src="{% static 'images/event/2.jpg' %}" alt=""></figure></a>
                            <div class="date"><h3>25</h3><p>July</p></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="event-details.html">Justo Posuere Nec Mol.</a></h3>
                            <ul class="meta">
                                <li><i class="fa fa-clock-o"></i>9am - 3pm</li>
                                <li><i class="fa fa-map-marker"></i>60 Newyork City.</li>
                            </ul>
                            <div class="text"><p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt  labore dolore magna aliqua.</p></div>
                            <div class="button"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-column">
                    <div class="single-item">
                        <div class="img-box">
                            <a href="event-details.html"><figure><img src="{% static 'images/event/3.jpg' %}" alt=""></figure></a>
                            <div class="date"><h3>25</h3><p>July</p></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="event-details.html">Posuere Nec Mollis Elit.</a></h3>
                            <ul class="meta">
                                <li><i class="fa fa-clock-o"></i>9am - 3pm</li>
                                <li><i class="fa fa-map-marker"></i>60 Newyork City.</li>
                            </ul>
                            <div class="text"><p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt  labore dolore magna aliqua.</p></div>
                            <div class="button"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-column">
                    <div class="single-item">
                        <div class="img-box">
                            <a href="event-details.html"><figure><img src="{% static 'images/event/4.jpg' %}" alt=""></figure></a>
                            <div class="date"><h3>25</h3><p>July</p></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="event-details.html">Convallis enim vitae pure.</a></h3>
                            <ul class="meta">
                                <li><i class="fa fa-clock-o"></i>9am - 3pm</li>
                                <li><i class="fa fa-map-marker"></i>60 Newyork City.</li>
                            </ul>
                            <div class="text"><p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt  labore dolore magna aliqua.</p></div>
                            <div class="button"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-column">
                    <div class="single-item">
                        <div class="img-box">
                            <a href="event-details.html"><figure><img src="{% static 'images/event/5.jpg' %}" alt=""></figure></a>
                            <div class="date"><h3>25</h3><p>July</p></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="event-details.html">Vallis enim vitae purus.</a></h3>
                            <ul class="meta">
                                <li><i class="fa fa-clock-o"></i>9am - 3pm</li>
                                <li><i class="fa fa-map-marker"></i>60 Newyork City.</li>
                            </ul>
                            <div class="text"><p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt  labore dolore magna aliqua.</p></div>
                            <div class="button"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-column">
                    <div class="single-item">
                        <div class="img-box">
                            <a href="event-details.html"><figure><img src="{% static 'images/event/6.jpg' %}" alt=""></figure></a>
                            <div class="date"><h3>25</h3><p>July</p></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="event-details.html">Aliquet sollic tudine.</a></h3>
                            <ul class="meta">
                                <li><i class="fa fa-clock-o"></i>9am - 3pm</li>
                                <li><i class="fa fa-map-marker"></i>60 Newyork City.</li>
                            </ul>
                            <div class="text"><p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt  labore dolore magna aliqua.</p></div>
                            <div class="button"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- event-section / our-event end -->


    <!-- newsletter section -->
    {% include "./temp_utils/newsletter.html" %}
    <!-- newsletter section end -->

    
    <!-- main-footer area -->
    {% include "./temp_utils/footer.html" %}
    <!-- main footer end -->



<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>


<!--jquery js -->
{% include "./temp_utils/js_imports.html" %}


<!-- End of .page_wrapper -->
</body>
</html>