{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/utils/nav.css' %}">
<nav id="side-nav">
    <h1 class="side-nav-title">Demo Portal</h1>
    <a href="#" class="side-nav-link">Dashboard</a>
    <a href="#" class="side-nav-link">Results</a>
    <a href="#" class="side-nav-link">Fees</a>
    <a href="#" class="side-nav-link">Announcements</a>
    <a href="#" class="side-nav-link">Profile</a>
    <a href="#" class="side-nav-link">Sign Out</a>
</nav>