{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Sample School Template</title>

    <!-- Stylesheets -->
    {% include "./temp_utils/style_imports.html" %}
</head>

<!-- page wrapper -->
<body class="body_wrapper">

    <!-- main header area -->
    {% include "./temp_utils/top_nav.html" %}
    <!-- end main header area -->


    <!-- page title -->
    <section class="page-title">
        <div class="container">
            <div class="content-box">
                <div class="title">Admission Notices</div>
                <div class="bread-crumb">
                    <a href="{% url "home" %}">Home &nbsp;<i class="fa fa-angle-right"></i></a> &nbsp;<span>Admission notices</span> 
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->



    <!-- admission section -->
    <section class="our-blog blog-page news-section sidebar-page-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 content-side">
                  <h3>Admission</h3><hr>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 sidebar-side">
                    <div class="sidebar">
                        <!--<div class="sidebar-search sidebar-widget">
                            <div class="sidebar-title">Search</div>
                            <div class="search-box">
                                <form action="#">
                                    <button><i class="fa fa-search"></i></button>
                                    <input type="text" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-catagories sidebar-widget">
                            <div class="sidebar-title">Category</div>
                            <ul class="list">
                               
                                <li><a href="#" class="active"><p>Art &amp; Crafts</p></a></li>
                                <li><a href="#"><p>Sports</p></a></li>
                                <li><a href="#"><p>Science &amp; Tecnologies</p></a></li>
                                <li><a href="#"><p>Social service</p></a></li>
                                <li><a href="#"><p>Pysical Education</p></a></li>
                                <li><a href="#"><p>School Magazine</p></a></li>
                            </ul>
                        </div>-->
                        <div class="sidebar-post sidebar-widget">
                            <div class="sidebar-title">Latest Post</div>
                            <div class="single-post">
                                <div class="img-box"><a href="blog-details.html"><figure><img src="{% static 'images/news/p1.jpg' %}" alt=""></figure></a></div>
                                <h5><a href="blog-details.html">Totam Rem Aperiam Eaque Ipsa.</a></h5>
                                <div class="date"><i class="fa fa-calendar"></i>02 Feb, 2017</div>
                            </div>
                            <div class="single-post">
                                <div class="img-box"><a href="blog-details.html"><figure><img src="{% static 'images/news/p2.jpg' %}" alt=""></figure></a></div>
                                <h5><a href="blog-details.html">Totam Rem Aperiam Eaque Ipsa.</a></h5>
                                <div class="date"><i class="fa fa-calendar"></i>02 Feb, 2017</div>
                            </div>
                            <div class="single-post">
                                <div class="img-box"><a href="blog-details.html"><figure><img src="{% static 'images/news/p3.jpg' %}" alt=""></figure></a></div>
                                <h5><a href="blog-details.html">Totam Rem Aperiam Eaque Ipsa.</a></h5>
                                <div class="date"><i class="fa fa-calendar"></i>02 Feb, 2017</div>
                            </div>
                            <div class="single-post">
                                <div class="img-box"><a href="blog-details.html"><figure><img src="{% static 'images/news/p4.jpg' %}" alt=""></figure></a></div>
                                <h5><a href="blog-details.html">Totam Rem Aperiam Eaque Ipsa.</a></h5>
                                <div class="date"><i class="fa fa-calendar"></i>02 Feb, 2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our-blog / blog-page end -->


    <!-- newsletter section -->
    {% include "./temp_utils/newsletter.html" %}
    <!-- newsletter section end -->

    
    <!-- main-footer area -->
    {% include "./temp_utils/footer.html" %}
    <!-- main footer end -->



<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>


<!--jquery js -->
{% include "./temp_utils/js_imports.html" %}

<!-- End of .page_wrapper -->
</body>

</html>
