{% load static %}

<style>
    #header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: white;
        position: fixed;
        width: 100%;
        padding: 15px;
        padding-left: 20px;
        padding-right: 30px;
        z-index: 2;
    }
    
    #ham{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .fa-bars{
        display: none;
    }

    #an{
        margin-right: 18%;
    }
    

    @media screen and (max-width: 1000px) {
        .fa-bars{
            display: block;
        }
    
        .username{
            display: none;
        }    

        #an{
            margin-right: 0%;
        }
    }
</style>


<div id="header">
    <span id="ham">
        <i onclick="OpenSideNav()" class="fa-solid fa-bars mid-text"></i>
        &nbsp;&nbsp;<text class="mid-bold-text">&nbsp;{{ url }}</text>
    </span>

    
    <a href="{% url 'student_announcements' %}" id="an" class="small-text"><i class="fa-solid fa-bell mid-text"></i></a>
</div>

<script>
    function OpenSideNav(){
        document.getElementById("side-nav").style.width= '70%'
        document.getElementById("side-nav").style.padding= '20px';
    }
</script>