<section class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 newsletter-column">
                <div class="text">Sign up for Newsletter</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 newsletter-column">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="email" placeholder="Enter your email">
                        <button class="btn-two">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>